<svg id="crossword" [attr.viewBox]="getViewBox()" xmlns="http://www.w3.org/2000/svg" (focus)="1"
  (keydown)="onKeyPress($event)"
  focusable="true" tabindex="0" preserveAspectRatio="xMidYMin meet">
  <ng-container *ngFor="let row of grid.getDisplay()">
    <ng-container *ngFor="let square of row">
      <rect (click)="gridClicked(square)"
        [attr.x]="1 + square.location.column * 40" [attr.y]="1 + square.location.row * 40" width="40" height="40"
        [style]="getSquareStyle(square)"></rect>   
      <text (click)="gridClicked(square)" *ngIf="square.value != null" class="inputText"
        [attr.x]="square.location.column * 40 + 20" [attr.y]="square.location.row * 40 + 37" text-anchor="middle"
        style="fill: black; font-size: 30px;">{{square.value.value}}</text>
      <text (click)="gridClicked(square)" *ngIf="square.value != null" [attr.x]="4 + square.location.column * 40"
        [attr.y]="12 + square.location.row * 40" style="fill: black; font-size: 10px;">{{displayLabel(square.value.label)}}</text>
      <text (click)="gridClicked(square)" text-anchor="end" *ngIf="square.value != null" [attr.x]="36 + square.location.column * 40"
        [attr.y]="12 + square.location.row * 40" style="fill: black; font-size: 10px;">{{square.value.mapping}}</text>
    </ng-container>
  </ng-container>
</svg>
<div class="puzzle-container">
  <div class="clue-container" *ngFor="let clue of grid.getClues()">
    <p class="clue">{{clue.hint}}</p>
    <div class="answer">
      <div class="letter-box" *ngFor="let square of clue.squares"><span>{{square.value.value}}</span><span
          class="letter-number">{{square.value.mapping}}</span>
      </div>
    </div>
  </div>
</div>