#crossword {
    width: 700px;
    height: 100%;
}

.grid-square {
    stroke-width: 1;
    stroke: rgb(55, 55, 55);
}

.black-square-focused {
    fill: rgb(90, 30, 90);
}

.black-square {
    fill: rgb(0, 0, 0);

}

.white-square {
    fill: rgb(255, 255, 255);

}

.white-square-highlighted {
    fill: rgb(153, 204, 205);

}

.white-square-focused {
    fill: rgb(241, 245, 130);
}

.square-label,
.square-number {
    fill: black;
    font-size: 10px;
}

.puzzle-container {
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

.clue-container {
    margin-bottom: 12px;
}

.clue {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 14px;
}

.answer {
    display: flex;
}

.letter-box {
    width: 22px;
    height: 24px;
    border-bottom: 1px solid #000;
    margin-right: 2px;
    position: relative;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.letter-box-highlighted {
    fill: rgb(153, 204, 205);
}

.letter-box-focused {
    fill: rgb(241, 245, 130);
}

.letter-box span {
    line-height: 1;
    margin-bottom: 1px;
}

.letter-number {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9px;
    color: #666;
    user-select: none;
}