<div (keydown)="onKeyPress($event)" tabindex="1" (focus)="1" focusable="true">
  <svg id="crossword" [attr.viewBox]="getViewBox()" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin meet">
    <ng-container *ngFor="let row of grid.getDisplay()">
      <ng-container *ngFor="let square of row">
        <rect (click)="gridClicked(square)" [attr.x]="1 + square.location.column * 40"
          [attr.y]="1 + square.location.row * 40" width="40" height="40" [class]="getSquareClass(square)"></rect>
        <text (click)="gridClicked(square)" *ngIf="square.value != null" class="inputText"
          [attr.x]="square.location.column * 40 + 20" [attr.y]="square.location.row * 40 + 37" text-anchor="middle"
          style="fill: black; font-size: 30px;">{{square.value.value}}</text>
        <text (click)="gridClicked(square)" *ngIf="square.value != null" [attr.x]="4 + square.location.column * 40"
          [attr.y]="12 + square.location.row * 40"
          class="square-label">{{displayLabel(square.value.label)}}</text>
        <text (click)="gridClicked(square)" text-anchor="end" *ngIf="square.value != null"
          [attr.x]="36 + square.location.column * 40" [attr.y]="12 + square.location.row * 40"
          class="square-number">{{square.value.mapping}}</text>
      </ng-container>
    </ng-container>
  </svg>
  <div class="puzzle-container">
    <div class="clue-container" *ngFor="let clue of grid.getClues()">
      <p class="clue">{{clue.hint}}</p>
      <div class="answer">
        <ng-container *ngFor="let square of clue.squares">
          <div [class]="getWordClass(square)" (click)="wordClicked(square)">
            <span class="inputText">{{square.value.value}}</span>
            <span class="letter-number">{{square.value.mapping}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>