<nav class="navbar navbar-light bg-light pb-0 pt-1 row no-gutters">
    <div class="col-sm d-flex flex-row primary-column">
        <a class="navbar-brand" href="#">Acrostic</a>
        <button type="button" class="btn btn-default navbar-btn shadow-none" [routerLink]="['/puzzle']">New</button>
        <input type="file" #fileupload (change)="handleFileInput($event)" hidden>
        <button type="button" class="btn btn-default navbar-btn shadow-none"
            (click)="fileupload.click()">Import</button>
    </div>
</nav>