<div class="flex flex-col min-h-screen h-screen overflow-hidden">
    <nav class="bg-gray-100 py-0.5 px-4">
        <div class="flex items-center">
            <a href="#" class="text-md font-semibold mr-4">Acrostic</a>
            <input type="file" #fileupload (change)="handleFileInput($event)" class="hidden">
            <button (click)="fileupload.click()" class="px-3 py-0.5 text-sm text-gray-700 hover:bg-gray-200 rounded">Import</button>
        </div>
    </nav>
    <div class="p-4 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
        <ng-container *ngFor="let puzzle of puzzles()">
            <a [routerLink]="puzzle.link" class="flex flex-col items-center">
                <div class="w-16 h-16 bg-gray-200 rounded-lg flex items-center justify-center mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
                    </svg>
                </div>
                <span class="text-sm text-center">{{puzzle.filename}}</span>
            </a>
        </ng-container>
    </div>
</div>