<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="flex justify-center w-full flex-shrink-0">
  <svg id="crossword" [attr.viewBox]="getViewBox()" xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="xMidYMin meet" class="max-h-[45vh] w-full" [style.max-width.px]="getWidthLimit()">
    <ng-container *ngFor="let row of grid.getDisplay()">
      <ng-container *ngFor="let square of row">
        <rect (click)="gridClicked(square)" [attr.x]="1 + square.location.column * 40"
          [attr.y]="1 + square.location.row * 40" width="40" height="40" [class]="getSquareClass(square)"></rect>
        @if(square.value !== null) {
        <text (click)="gridClicked(square)" [attr.x]="square.location.column * 40 + 20"
          [attr.y]="square.location.row * 40 + 37" text-anchor="middle"
          class="square-text">{{square.value.value}}</text>
        <text (click)="gridClicked(square)" [attr.x]="4 + square.location.column * 40"
          [attr.y]="12 + square.location.row * 40" text-anchor="start"
          class="square-label">{{displayLabel(square.value.label)}}</text>
        <text (click)="gridClicked(square)" [attr.x]="36 + square.location.column * 40"
          [attr.y]="12 + square.location.row * 40" text-anchor="end"
          class="square-number">{{square.value.mapping}}</text>
        }
      </ng-container>
    </ng-container>
  </svg>
</div>
<div class="flex-1 overflow-y-auto px-4 mt-4 mb-2">
  <div class="columns-3 gap-2">
    <ng-container *ngFor="let clue of grid.getClues()">
      <div class="clue-container" [id]="clueId(clue.label)">
        <p class="clue">{{displayLabel(clue.label)}}. {{clue.hint}}</p>
        <div class="flex">
          <ng-container *ngFor="let square of clue.squares">
            <div [class]="getWordClass(square)" (click)="wordClicked(square)">
              <span>{{square.value.value}}</span>
              <span class="letter-number">{{square.value.mapping}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>